
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto; /* Center the container and add space around it */
  max-width: 1300px; /* Set a maximum width for the container */
  border: 2px solid #ddd; /* Add a border around the container */
  padding: 20px; /* Add padding inside the container */
  margin: 0 auto;
}

.product-list {
  background-color: #227125; /* Set background color to match the button */
  color: white;
  padding: 10px; /* Add padding to the heading */
  border-radius: 8px; /* Add border-radius for rounded corners */
  width: 100%; /* Make the heading occupy the full width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.input-table {
  width: 100%; /* or a specific width in pixels or percentage */
}
.input-table input {
  width: 100%; /* This will make the input fields take up 100% of the width of their container */
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px; /* Add space between the tables */
  background-color: #f2f2f2; /* Grayish color for the tables */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 40px; /* Set a fixed height for table rows */
  width: 50px;
}

th {
  background-color: #f2f2f2;
  position: relative;
}

.action-button {
  cursor: pointer;
  background-color: #227125;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%; /* Make the button fill the entire cell */
  font-size: 15px;
  border-radius: 4px;
}

.edit-button {
  background-color: #4caf50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.action-button:hover {
  background-color: white;
  color: black;
  border: 1px solid #227125;
}

.sort-arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
